*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: aqua;
}
nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: white;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 55px rgba(0,0,0,0.1);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
}
.logo img{
    width: 80px;
    height: 50px;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height: 50px;
    top: 14px;
    font-size: 20px;
    text-align: center;

}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
nav:hover{
    width: 220px;
    transition: all 0.5s ease;
}

.homepage{
    margin-top: 25px;
}

.content{
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 2%;
    text-align: justify;
}